label.required:after {
    content: "*";
    color: red;
    font-size: 14px;
    position: relative;
    line-height: 12px;
}

.modal-estimate{
    max-width: 100%;
    margin: 5rem auto;
    width: 75%;
}